<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdoptOpenJDKjre" />
  <package id="anki" />
  <package id="audacity" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="axel" />
  <package id="capture2text" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="docker-desktop" />
  <package id="DotNet4.5.2" />
  <package id="dotnetfx" />
  <package id="doublecmd.dark" />
  <package id="Everything" />
  <package id="ffmpeg" />
  <package id="graphviz" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="keypirinha" />
  <package id="lightshot" />
  <package id="lightshot.install" />
  <package id="miktex" />
  <package id="mpv.install" />
  <package id="notepad3" />
  <package id="notepad3.install" />
  <package id="pandoc" />
  <package id="pandoc-crossref" />
  <package id="plantuml" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="quicklook" />
  <package id="sumatrapdf.install" />
  <package id="Temurinjre" />
  <package id="toggl" />
  <package id="totalcommander" />
  <package id="transmission" />
  <package id="ueli" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="winscp" />
  <package id="winscp.install" />
  <package id="wireshark" />
  <package id="xdm" />
  <package id="xournalplusplus" />
  <package id="zotero" />
</packages>